name: Build Exe Automatically

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        
    - name: Install Dependencies
      # 直接指定安装这3个库，避免读取 requirements.txt 出错
      run: |
        python -m pip install --upgrade pip
        pip install requests tkinterdnd2 pyinstaller
        
    - name: Build with PyInstaller
      run: |
        pyinstaller --noconsole --onefile --collect-all tkinterdnd2 gui.py
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: My-AutoArchive-Software
        path: dist/gui.exe